---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page not found">
  <main
    class="flex w-full min-h-screen flex-col items-center bg-mono-100 dark:bg-mono-900 justify-center text-2xl prose"
  >
    <h1 class="text-mono-900 dark:text-mono-100 m-0">2 + 2 = 5</h1>
    <p class="text-mono-900 dark:text-mono-100 m-0">Page Not Found</p>
  </main>
</Layout>
