---
import ThemeSwitcher from "../components/ThemeSwitcher.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <main
    class="flex w-full min-h-screen flex-col items-center bg-mono-100 dark:bg-mono-900 justify-center text-5xl"
  >
    <div
      class="w-full h-full p-8 flex flex-col justify-center items-center relative"
    >
      <section
        class="flex flex-col-reverse lg:flex-row md:flex-row w-full justify-between items-start mb-20 lg:mt-0 md:mt-0 gap-4 lg:gap-14 md:gap-8 prose"
      >
        <div class="leading-none">
          <h2
            class="dark:text-zinc-200 text-zinc-900 text-[2.5rem] m-0 font-extrabold"
          >
            Anirud Tate
          </h2>
          <p class="dark:text-zinc-300 text-zinc-800 mb-4 m-0">
            Full Stack Web Developer
          </p>
          <p class="dark:text-zinc-400 text-zinc-700 text-sm m-0">
            Learning about web and trying to build things in the process. I like
            competitive programming and writing about tech occasionally.
          </p>
        </div>
      </section>
    </div>
  </main>
</Layout>
