---
import { Icon } from "astro-icon";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";

export type Link = {
  name: string;
  url: string;
  value: string;
  icon: string;
};

export type Links = Link[];

export const links: Links = [
  {
    name: "Gmail",
    url: "mailto:anirud.programming@gmail.com",
    value: "anirud.programming@gmail.com",
    icon: "gmail",
  },
  {
    name: "GitHub",
    url: "https://github.com/anirudtate",
    value: "@anirudtate",
    icon: "github",
  },
  {
    name: "Codeforces",
    url: "https://codeforces.com/profile/anirudtate",
    value: "anirudtate",
    icon: "codeforces",
  },
  {
    name: "Codechef",
    url: "https://www.codechef.com/users/anirudtate",
    value: "anirudtate",
    icon: "codechef",
  },
  {
    name: "Instagram",
    url: "https://instagram.com/anirudtate",
    value: "@anirudtate",
    icon: "instagram",
  },
  {
    name: "Twitter",
    url: "https://twitter.com/anirudtate",
    value: "@anirudtate",
    icon: "twitter",
  },
];
---

<Layout title="links">
  <div
    class="w-full min-h-screen h-full p-8 flex flex-col items-center relative"
  >
    <section class="flex flex-col w-full justify-between prose gap-6">
      <div>
        <h1 class="dark:text-zinc-200 text-zinc-900 leading-none mb-3">
          Links
        </h1>
        <p class="dark:text-zinc-400 text-zinc-800 m-0 leading-tight">
          All my profile links to find me on the web.
        </p>
      </div>
      <div
        class="dark:bg-gradient-to-r dark:from-neutral-800 dark:to-zinc-800 bg-gradient-to-r from-neutral-200 to-zinc-200 rounded-lg shadow-xl p-4 flex justify-between gap-2"
      >
        <div class="flex flex-col w-full gap-2">
          {
            links.map((link) => (
              <a target="_blank" href={link.url}>
                <div class="flex justify-between items-center dark:bg-zinc-900/60 bg-zinc-100/60 duration-200 p-2 rounded-lg hover:shadow-lg cursor-pointer w-full hover:-translate-y-1">
                  <p class="dark:text-zinc-300 text-zinc-800 m-0 text-sm lg:text-base md:text-base">
                    {link.name}{" "}
                    <span class="dark:text-zinc-600 text-zinc-500">
                      {" // "}
                    </span>{" "}
                    {link.value}
                  </p>
                  <p class="dark:text-zinc-300 text-zinc-800 m-0">
                    <Icon pack="simple-icons" name={link.icon} size="15" />
                  </p>
                </div>
              </a>
            ))
          }
        </div>
      </div>
    </section>
    <Footer />
  </div>
</Layout>
