---
import { Icon } from "astro-icon";
import Layout from "../layouts/Layout.astro";
import axios from "axios";

const responseCodeforces = await axios.get(
  "https://clist.by/api/v3/json/coder/29792/"
);
const { maxRating: ratingCodeforces, maxRank: rankCodeforces } =
  responseCodeforces.data.result[0];
console.log(responseCodeforces.data);

// https://clist.by/api/v3/json/coder/29792/
---

<Layout title="Stats">
  <div
    class="w-full min-h-screen h-full p-8 flex flex-col items-center relative"
  >
    <section
      class="flex flex-col w-full justify-between prose prose-a:no-underline gap-6 mb-12"
    >
      <div>
        <h1 class="dark:text-zinc-200 text-zinc-900 leading-none mb-3">
          Stats
        </h1>
        <p class="dark:text-zinc-400 text-zinc-800 m-0 leading-tight">
          Random stats and stuff related to me.
        </p>
      </div>
      <div
        class="dark:bg-gradient-to-r dark:from-neutral-800 dark:to-zinc-800 bg-gradient-to-r from-neutral-200 to-zinc-200 rounded-lg shadow-xl p-4 flex flex-col justify-between gap-2"
      >
        <a
          class="text-zinc-700 dark:text-zinc-400 flex gap-4 m-0"
          href="/about"
          target="_blank"
          rel="noreferrer"
        >
          Age <Icon pack="feather" name="external-link" size="15" />
        </a>
        <h3 id="age" class="text-zinc-900 dark:text-zinc-200 m-0"></h3>
      </div>
      <div
        class="dark:bg-gradient-to-r dark:from-neutral-800 dark:to-zinc-800 bg-gradient-to-r from-neutral-200 to-zinc-200 rounded-lg shadow-xl p-4 flex flex-col justify-between gap-2"
      >
        <a
          class="text-zinc-700 dark:text-zinc-400 flex gap-4 m-0"
          href="https://codeforces.com/profile/anirudtate"
          target="_blank"
          rel="noreferrer"
        >
          Codeforces Rating <Icon
            pack="feather"
            name="external-link"
            size="15"
          />
        </a>
        <h3 id="age" class="text-zinc-900 dark:text-zinc-200 m-0">
          {ratingCodeforces} - {rankCodeforces}
        </h3>
      </div>
    </section>
  </div>
</Layout>

<script>
  const diffCalc = () => {
    const diff =
      (new Date().getTime() - new Date("August 21, 2002").getTime()) /
      1000 /
      60 /
      60 /
      24 /
      365;
    return diff.toFixed(9);
  };

  const ageElement = document.getElementById("age");

  const updateAge = () => {
    if (ageElement) {
      ageElement.innerText = diffCalc().toString();
    }
    setTimeout(() => {
      updateAge();
    }, 10);
  };

  updateAge();
</script>
