---
import { getEntryBySlug } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import FormatedMarkdown from "../../layouts/FormatedMarkdown.astro";

// 1. Get the slug from the incoming server request
const { slug } = Astro.params;
if (slug === undefined) {
  throw new Error("Slug is required");
}

// 2. Query for the entry directly using the request slug
const post = await getEntryBySlug("blog", slug);

// 3. Redirect if the entry does not exist
if (post === undefined) {
  return Astro.redirect("/404");
}

// 4. (Optional) Render the entry to HTML in the template
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <div
    class="w-full min-h-screen h-full p-8 flex flex-col items-center relative"
  >
    <section class="flex flex-col w-full justify-between gap-4 lg:mt-0 md:mt-0">
      <h1 class="text-5xl font-bold text-mono-900 dark:text-mono-100">
        {post.data.title}
      </h1>
      <p class="text-mono-500">Last Updated: {post.data.date}</p>
      <FormatedMarkdown>
        <Content />
      </FormatedMarkdown>
    </section>
  </div>
</Layout>
