---
---

<footer class="flex w-full prose py-4 lg:px-0 md:px-8 px-8">
  <p class="dark:text-zinc-400 text-zinc-700 m-0 text-sm">
    <a
      class="dark:text-zinc-300 text-zinc-800 hover:text-zinc-900 dark:hover:text-zinc-200 duration-300 underline decoration-dotted underline-offset-4"
      href="https://opensource.org/licenses/MIT"
      target={"_blank"}
      rel="noreferrer"
    >
      MIT
    </a>{" "}
    2023 &#169;{" "}
    <a
      class="dark:text-zinc-300 dark:hover:text-zinc-200 text-zinc-800 hover:text-zinc-900 duration-300 underline decoration-dotted underline-offset-4"
      href="https://github.com/anirudtate"
      target={"_blank"}
      rel="noreferrer"
    >
      anirudtate
    </a>
  </p>
</footer>
