---
import { Icon } from "astro-icon";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog"))
  .sort(
    (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
  )
  .slice(0, 3);
---

<section class="flex flex-col w-full gap-6 mb-20 prose prose-a:no-underline">
  <h2
    class="dark:text-zinc-200 text-zinc-900 text-[2.5rem] font-extrabold leading-none m-0"
    id="blogs"
  >
    Recent Blogs
  </h2>
  <div
    class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-3 sm:grid-cols-2 w-full gap-6"
  >
    {
      posts.map((post) => (
        <a href={`/blogs/${post.slug}`}>
          <div class="bg-gradient-to-r from-zinc-500 to-stone-500 w-full p-1 rounded-lg shadow-lg dark:shadow-zinc-200/10 shadow-zinc-800/10 hover:shadow-xl hover:scale-[103%] dark:hover:shadow-zinc-200/10 hover:shadow-zinc-800/10 duration-300">
            <div class="flex flex-col cursor-pointer justify-between gap-4 p-4 dark:bg-zinc-800 bg-zinc-200 rounded-lg h-full">
              <div>
                <h3 class="dark:text-zinc-300 text-zinc-800 mb-6 text-lg font-semibold w-full tracking-tight m-0 no-underline">
                  {post.data.title}
                </h3>
              </div>
              <div class="text-zinc-600 dark:text-mono-400 text-sm">
                Last Updated: {post.data.date}
              </div>
            </div>
          </div>
        </a>
      ))
    }
  </div>
  <a
    href="/blogs"
    class="flex group gap-2 items-center duration-200 text-zinc-500 cursor-pointer no-underline dark:hover:text-zinc-400 hover:text-zinc-700"
  >
    Read More{" "}
    <span class="group-hover:translate-x-1 duration-200">
      <Icon pack="feather" name="arrow-right" size="15" />
    </span>
  </a>
</section>
