---
import { Icon } from "astro-icon";
import ThemeSwitcher from "./ThemeSwitcher.astro";

const NavbarItems = [
  {
    name: "Home",
    route: "/",
    icon: "home",
  },
  {
    name: "Blogs",
    route: "/blogs",
    icon: "book",
  },
  {
    name: "Projects",
    route: "/projects",
    icon: "github",
  },
  {
    name: "Stats",
    route: "/stats",
    icon: "pie-chart",
  },
  {
    name: "Experience",
    route: "/experience",
    icon: "briefcase",
  },
  {
    name: "Links",
    route: "/links",
    icon: "paperclip",
  },
];

const route = [
  "/",
  Astro.url.pathname
    .substring(1)
    .substring(
      0,
      Astro.url.pathname.substring(1).indexOf("/") == -1
        ? 10
        : Astro.url.pathname.substring(1).indexOf("/")
    )
    .replace("/", ""),
].join("");
---

<div
  class="fixed z-50 h-screen flex flex-col bg-mono-100 dark:bg-mono-900 sm:p-4 p-2 gap-2 items-center"
>
  {
    NavbarItems.map((item) => (
      <button class="w-full flex justify-center items-center">
        {route === item.route ? (
          <a href={item.route}>
            <Icon
              pack="feather"
              name={item.icon}
              size="35"
              class="text-mono-100 rounded dark:bg-mono-700 bg-mono-800 dark:hover:bg-mono-700 hover:bg-mono-800 py-2 cursor-pointer hover:scale-110 duration-300 ease-in-out shadow hover:shadow-xl"
            />
          </a>
        ) : (
          <a href={item.route}>
            <Icon
              size="35"
              pack="feather"
              name={item.icon}
              class="text-mono-100 rounded dark:bg-mono-800 bg-mono-700 dark:hover:bg-mono-700 hover:bg-mono-800 py-2 cursor-pointer hover:scale-110 duration-300 ease-in-out shadow hover:shadow-xl"
            />
          </a>
        )}
      </button>
    ))
  }
  <ThemeSwitcher />
  <div class="h-full bg-mono-600 dark:bg-mono-700 w-[2px]"></div>
</div>

<script is:inline>
  const getTheme = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  };
  const theme = getTheme();
  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);
</script>
