---
import { Icon } from "astro-icon";
---

<button
  id="theme-switcher"
  type="button"
  class="w-full flex justify-center items-center"
>
  <Icon
    pack="feather"
    name="moon"
    id="icon-theme-light"
    size="35"
    class="text-mono-100 rounded dark:bg-mono-800 bg-mono-700 dark:hover:bg-mono-700 hover:bg-mono-800 py-2 cursor-pointer hover:scale-110 duration-300 ease-in-out shadow hover:shadow-xl hidden"
  />
  <Icon
    pack="feather"
    name="sun"
    id="icon-theme-dark"
    size="35"
    class="text-mono-100 rounded dark:bg-mono-800 bg-mono-700 dark:hover:bg-mono-700 hover:bg-mono-800 py-2 cursor-pointer hover:scale-110 duration-300 ease-in-out shadow hover:shadow-xl"
  />
</button>

<script is:inline>
  const themes = ["light", "dark"];
  const button = document.querySelector("#theme-switcher");

  const getThemeCurrent = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  };

  const getThemeNext = () => {
    const themeCurrent = getThemeCurrent();
    const indexThemeCurrent = themes.indexOf(themeCurrent ?? "");
    return themes[(indexThemeCurrent + 1) % themes.length];
  };

  const updateIcon = () => {
    const themeCurrent = getThemeCurrent();
    document
      .querySelector(`#icon-theme-${themeCurrent}`)
      ?.classList.add("hidden");
    const themeNext = getThemeNext();
    document
      .querySelector(`#icon-theme-${themeNext}`)
      ?.classList.remove("hidden");
  };

  button?.addEventListener("click", () => {
    const themeNext = getThemeNext();
    if (themeNext == "dark") {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }
    localStorage.setItem("theme", themeNext);
    updateIcon();
  });

  updateIcon();
</script>
