---
import axios from "axios";
import { marked } from "marked";
import Layout from "../../layouts/Layout.astro";
import FormatedMarkdown from "../../layouts/FormatedMarkdown.astro";

const { slug } = Astro.params;

if (slug === undefined) {
  throw new Error("Slug is required");
}
let readmeContent;

try {
  const response = await axios.get(
    `https://raw.githubusercontent.com/anirudtate/${slug}/main/README.md`
  );
  if (response.data == "") {
    readmeContent =
      "This project don't have a README yet. Please Check out the [Github Page](https://github.com/anirudtate/" +
      slug +
      ")";
  } else {
    readmeContent = response.data;
  }
} catch (error: any) {
  return Astro.redirect("/404");
}

const content = marked.parse(readmeContent);
---

<Layout title={slug ?? ""}>
  <div
    class="w-full min-h-screen h-full p-8 flex flex-col items-center relative"
  >
    <section class="flex flex-col w-full justify-between gap-4 lg:mt-0 md:mt-0">
      <FormatedMarkdown>
        <article set:html={content} />
      </FormatedMarkdown>
    </section>
  </div>
</Layout>
