---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
);
---

<Layout title="Blogs">
  <div
    class="w-full h-full p-8 flex flex-col justify-center items-center relative"
  >
    <section class="flex flex-col w-full gap-6 prose prose-a:no-underline">
      <h2
        class="dark:text-zinc-200 text-zinc-900 text-[2.5rem] font-extrabold leading-none m-0"
        id="blogs"
      >
        Blogs
      </h2>
      <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-1 w-full gap-6">
        {
          posts.map((post) => (
            <a
              href={`/blogs/${post.slug}`}
              class="bg-gradient-to-r from-zinc-500 to-stone-500 w-full p-1 rounded-lg shadow-lg dark:shadow-zinc-200/10 shadow-zinc-800/10 hover:shadow-xl hover:scale-[103%] dark:hover:shadow-zinc-200/10 hover:shadow-zinc-800/10 duration-300"
            >
              <div class="flex flex-col cursor-pointer justify-between gap-4 p-4 dark:bg-zinc-800 bg-zinc-200 rounded-lg h-full">
                <div>
                  <h3 class="dark:text-zinc-300 text-zinc-800 text-lg mb-6 font-semibold w-full tracking-tight m-0 no-underline">
                    {post.data.title}
                  </h3>
                </div>
                <div class="text-zinc-600 dark:text-mono-400 text-sm">
                  Last Updated: {post.data.date}
                </div>
              </div>
            </a>
          ))
        }
      </div>
    </section>
    <Footer />
  </div>
</Layout>
